body {
    /* background-image: url("https://i.imgur.com/Mjea6WX.jpg");  */
    /* background-position: 100% 100%; */
    background-size: cover;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    align-content: center;
    color: white;
    /* font: 16px; */
  }

  h1 {
      color: white;
  }

a #allFlights {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }